@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

$primary-color: #326dee;
$secondary-color: #F5F5F5;
$primary-font-size: 1.6rem;
$primary-font: "Open Sans";
$primary-border-radius: 0.8rem;

p {
    a {
        color: $primary-color;
    }
}

.container {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $primary-font-size;
    font-family: $primary-font;
}

.light {
    background-image: linear-gradient(#49c0d4, #fae97f, #49c0d4);
}

.dark {
    background-image: linear-gradient(#1417b2, #52095d, #1417b2);
}

.overcast, .partly_cloudy, .cloudy {
    background-image: linear-gradient(to top right, #696969, #e1e1e1);
}

.clear, .sunny {
    background-image: linear-gradient(to top right, #eb6221, #fbdf17);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 100vw;
    margin-top: 1.6rem;
    .searchBar {
        display: flex;
        align-items: center;
        width: 45%;
        label {
            margin-right: 0.8rem;
        }
        input {
            width: 60%;
            height: 3.2rem;
            margin-right: auto;
            border-radius: $primary-border-radius;
            border: none;
            padding-left: 1.2rem;
            font-family: $primary-font;
            &:focus{
                outline: none;
            }
        }
        .searchButton {
            height: 3.2rem;
            width: 6.4rem;
            border-radius: $primary-border-radius;
            border: none;
            cursor: pointer;
        }
    }
}

.currentCard {
    width: 50%;
    min-height: 40rem;
    height: auto;
    background-color: #fff;
    margin-top: 2.4rem;
    // margin: auto;
    border-radius: $primary-border-radius;
    // background-image: url('../images/night.jpg');
    // background-image: url('../images/sunny.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    .currentCardHeader{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-weight: 500;
        }
        .temperatures {
            display: flex;
            gap: 1.6rem;
        }
    }
    img {
        width: 8rem;
    }
}

.weatherList {
    height: auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
    place-items: center;
    margin-top: 3.2rem;
}

.card {
    height: 40rem;
    width: 30rem;
    border: 2px solid black;
    border-radius: $primary-border-radius;
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    .deleteButton {
        color: black;
        position: relative;
        left: -0.8rem;
        top: 0.4rem;
        align-self: end;
    }
}
